name: Generate PAC From iBug/pac

on:
  push:
    branches: [ "main" ]
  schedule:
    - cron: "0 12 * * 6"  # 8 PM CST every Saturday

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: get file from other and modify
        run: |
          wget $(curl -s https://api.github.com/repos/iBug/pac/releases/latest|grep gfwlist-ipdeny|grep browser|cut -d ":" -f2,3|tr -d "\" ")
          gzip -d *.gz
          sed -i 's/__PROXY__/SOCKS5 127.0.0.1:7897; DIRECT' pac-gfwlist-ipdeny.com.txt
          mv pac-gfwlist-ipdeny.com.txt proxy.pac
