name: sync pac file from iBug/pac

on:
  workflow_dispatch:
  push: 
    branches: [ master ]
  schedule:
    - cron:  '30 19 * * *'
    
permissions:
  contents: write

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@master
    - name: download the pac list
      run: |
          wget $(curl -s https://api.github.com/repos/iBug/pac/releases/latest|grep gfwlist-ipdeny|grep browser|cut -d ":" -f2,3|tr -d "\" ")
    - name: unzip file
      run: |
          gzip -d pac-gfwlist-ipdeny.com.txt.gz
    - name: modify file
      run: |
          sed -i 's/__PROXY__/SOCKS5 127.0.0.1:1080; DIRECT/' pac-gfwlist-ipdeny.com.txt
    - name: rename file
      run: |
          mv pac-gfwlist-ipdeny.com.txt proxy.pac
    - name: Commit files
      id: commit-files
      run: |
          if [ -n "$(git status --porcelain proxy.pac)" ]; then
            git config --local user.email "github-actions[bot]@users.noreply.github.com"
            git config --local user.name "github-actions[bot]"
            git add .
            git commit -m "pull newest list"
            echo "hasChange=true" >> $GITHUB_OUTPUT
          else
            echo "No changes detected"
          fi       
    - name: Push changes
      uses: ad-m/github-push-action@master
      if: ${{ steps.commit-files.outputs.hasChange == 'true' }}
      with:
        github_token: ${{ secrets.SUPERSECRET }}
        branch: 'main'
        repository: 'gunaiqiu/pac'
        
    # Setup Rclone
    - name: Setup Rclone
      uses: AnimMouse/setup-rclone@v1
      with:
        rclone_config: ${{ secrets.RCLONE_CONFIG }}

    - name: Rclone Sync 
      run: |
          rclone copy ./ 7niu-kodo:${{ secrets.KODO_BUCKET }} --transfers=8 --checkers=16 --exclude=.git/** --exclude=.github/** --exclude=README.md
      env:
        RCLONE_CONFIG_PASS: ${{ secrets.RCLONE_CONFIG_PASS }}



